@import url('https://fonts.googleapis.com/css?family=Anton');

html {
    background-color: #e8371a;
}


.logo {
    width: 200px;
    height: 150px;
}

.perso {
	background-color: #0a5d86;
}


.py-4 {
	background:
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(11, 53, 108, 0.6), 
      rgba(11, 53, 108, 0.6)
    ),
    /* bottom, image */
    url('../img/humberto-santos-394879-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-light .navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 5vw;
}