@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Londrina+Shadow|Love+Ya+Like+A+Sister|Montserrat+Subrayada|Palanquin+Dark|Reem+Kufi|Rubik+Mono+One|Voltaire');
@import url('https://fonts.googleapis.com/css?family=Anton');
/* font-family: 'Reem Kufi', sans-serif;
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Voltaire', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif; */

body {
    background-color: #e0e0e0;

}

        /* MENU */

.logo {
    width: 300px;
    height: 200px;
    margin-top: -70px;
}

nav .nav-wrapper {
    padding: 80px;
    background-color: #0a5d86;
    z-index: 1;
}


div.menu ul li a {
    /*margin-right: 50px;*/
    font-family: 'Reem Kufi', sans-serif;
    margin-top: -25px;
}

div.menu ul li a
{

    text-decoration: none;
    font-size: 1.6vw;
    position: relative;
    z-index: 0;
    cursor: pointer;
}



div.borderXwidth ul li a:before, div.borderXwidth ul li a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.6s;
}

div.borderXwidth ul li a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth ul li a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth ul li a:hover:before, div.borderXwidth ul li a:hover:after
{
    opacity: 1;
    width: 100%;
}




        /* TITRE */

/* .ml15 {
  font-weight: 800;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 5em;
  letter-spacing: 0.1em;
}

.ml15 .word {
  display: inline-block;
  line-height: 2em;
} */

.unbreakable-contain
{
    /*position: absolute;
    bottom: 10px;
    left: 20px;*/
    /*background-color: black;
    border-radius: 4px;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    text-align: center;*/
    display: inline-block;
     padding: 130px;
}


.unbreakable
{
    font-family: 'Anton', sans-serif;
    line-height: 1;

    letter-spacing: -.07em;

    color: #fff;
}

.ks
{
    font-family: 'Anton', sans-serif;
    font-size: 5.6vw;
    line-height: 1;

    margin-top: -11px;
    margin-left: -90px;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;

    color: #e8371a;
}

.animate .ks
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.test span
{
    font-family: 'Anton', Helvetica, sans-serif;
    font-size: 50px;

    text-transform: uppercase;

    opacity: 0;
    color: #039be5;

    filter: alpha(opacity=0);
}

.able
{
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
}

.break
{
    -webkit-transition: all .3s ease-in-out 2s;
            transition: all .3s ease-in-out 2s;
    letter-spacing: -.07em;
}

.un
{
    -webkit-transition: all .3s ease-in-out 1.7s;
            transition: all .3s ease-in-out 1.7s;
    letter-spacing: -.07em;
}

.animate .un
{
    font-size: 4vw;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);

}

.animate .break
{
    font-size: 6vw;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .able
{
    font-size: 8vw;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.correction {
    margin-top: 95px;

    background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(11, 53, 108, 0.6),
      rgba(11, 53, 108, 0.6)
    ),
    /* bottom, image */
    url('../img/humberto-santos-394879-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}




        /* CONTENU ACTU*/

.news {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: white;
    background-color: #0a5d86;
    border-radius: 3px;
    width: 100%;

}

.news > h1 {
  font-size: 5vw;
}

.actu {
    margin-top: 80px;
}


.info {
    background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(31, 82, 127, 0.4),
      rgba(31, 82, 127, 0.4)
    ),
    /* bottom, image */
    url('../img/humberto-santos-394879-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.ajuster {
    padding: 20px;
}

.effet {
/*transition-duration: 0.8s;
transition-timing-function: ease-in-out;*/
  overflow:hidden;/*On empeche l'image de dépasser du bloc*/
  display:block;
}

.img-news{transition:0.5s;} /* durée de l'animation en secondes*/
.img-news:hover{transform : scale(1.2);} /* Zoom de l'image. La taille normale est 1 */

/*.effet:hover {
transition: 0.8s;
transform: rotate(3deg);
}*/



        /* TWEAK */

.divider {
    height: 3px;
    background-color: #e8371a;
    border-radius: 5px;
}

.marge {
    margin-top: 250px;
}


        /* CLASSEMENT ET RESULTAT */

.taille img {
    height: 300px;
    object-fit: cover;
}



        /* FOOTER */



.page-footer {
    background-color: #0a5d86;
}

        /*FORMULAIRE MATCH*/
.bigForm{
  display: flex;
  background-color: gray;
  color: white;
  margin-top: 20px;
}

.bigForm span {
  color:white;
}


        /*PAGE DRAG*/


        .drag {
          background-image:url("../img/terrainGrand.jpeg");
          height: 500px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin-top: 30px;
      }
        #draggable1 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}
        #draggable2 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}
        #draggable3 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}
        #draggable4 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}
        #draggable5 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}
        #draggable6 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}
        #draggable8 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}
        #draggable7 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}
        #draggable9 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}
        #draggable10 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0;background-color: #0a5d86;border-radius: 2em;}
        #draggable11{ width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: #0a5d86;border-radius: 2em;}

        .drag p {
          color:orange;
          font-weight: bold;
          font-size: 1em;
          text-align: center;

        }

        /*lotoCompo*/

    .lotoComp{
      margin-top: 15px;
    }

        @font-face {
    font-family: loto;
    src: url(loto.ttf);
}

/*html,body,content,h1{
  margin:0;
  padding:0;
}*/
content{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
/*h1{
  font-family: loto;
  font-size: 5em;
}*/
.rouge{
  color:rgb(171,35,13);
  font-family: loto;
  font-size: 4em;
}
.bleu{
  color:rgb(45,32,120);
  font-family: loto;
  font-size: 4em;
}
.gardien{
  font-family: loto;
  font-size: 1.5em;
  color:rgb(171,35,13);
}
section{
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  width:100%;
  margin-bottom: 5%;
}
.tirage{
  width:150px;
  height:150px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  o
}

.balle {
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  margin: 0;
  background: radial-gradient(circle at 5% 25%, rgb(214,45,17), #000);
}

.balle .numero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(215,215,215);
  border-radius: 50%;
  height: 45%;
  width: 45%;
  color: rgb(65,65,65);
  font-family: Helvetica;
  font-size:1.5em;
}

.souligne{
  background-color:rgb(214,45,17);
  height:3%;
  width:20%;
  margin-left: 50%;
  margin-right:50%;
}

#sectionChance .balle{
  background: radial-gradient(circle at 5% 25%, rgb(255,195,0), #000);
}

.ombre {
  width: 65%;
  height: 3%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, black, white);
  margin-top:-1%;
  z-index: -1;
}

@keyframes deplacement{
  from{
    transform:translateX(var(--deplacement));
  }
  to{
    transform:translateX(0px);
  }
}

@keyframes tours{
  0% {transform: rotate(var(--degreDebut));}
  100% {transform: rotate(var(--degreFin));}
}

.resize {
    width: 250px;
    height: 300px;
}

    /*PAGE EQUIPE*/

.prenom {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: grey;
    font-size: 12pt;
}

.nom {
    font-family: 'Anton', sans-serif;
    font-size: 16pt;
}

.poste {
    padding: 10px;
}

.poste-info{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.poste-titre {
    font-family: 'Anton', sans-serif;
    background-color: #0a5d86;
    border-radius: 2px;
    color: white;
}

.poste-reveal {
    padding: 3px;
}

.poste-titre-reveal {
    font-family: 'Anton', sans-serif;
    background-color: #e8371a;
    border-radius: 2px;
    color: white;
    font-size: 15pt;
}

.icon img {
    width: 25px;
    height: 25px;
}

.description {
    font-family: 'Reem Kufi', sans-serif;
}

.caractere {
    font-family: 'Anton', sans-serif;
}


        /*PAGE STAT-BUTEURS*/

.tableau {
    background-color: #0a5d86;
    font-family: 'Anton', sans-serif;
}

.text-tableau {
    text-transform: uppercase;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
}

        /*PAGE MATCH*/

.rencontre {
  font-family: 'Anton', sans-serif;
  font-size: 14pt;
  color: grey;
  text-transform: uppercase;
}

.score {
  font-family: 'Anton', sans-serif;
  font-size: 18pt;
  color: black;
  background-color: #0a5d86;
  border-radius: 2px;
  text-align: center;
}

.date-rencontre {
  font-family: 'Anton', sans-serif;
  font-size: 10pt;
  font-style: italic;
}

.ajuste-icon {
  margin-left: 15px;
}

.ajuste-icon-left {
  margin-right: 15px;
}

.list-player {
  font-family: 'Reem Kufi', sans-serif;
  text-transform: uppercase;
}

.logo-reveal img {
  width: 150px;
  height: 120px;
}


    /*PAGE HISTORIQUE*/

h1.story-title {
  color: #e8371a;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 66px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: -4px;
  margin-bottom: 72px;
}

h1.story-title:after {
  background: #e8371a;
  content: '';
  display: block;
  height: 12px;
  margin: 43px 0;
  width: 80px;
}

p.story-text {
  color: black;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 36px;
  max-width: 500px;
}

a.story-link{
  color: #cc3914; 
}

a.story-link:hover {
  color: #50413c;
}


  /*PAGE GALERIE*/


.bloc-masonry {
  width: 60%;
  margin: 0 auto;
  background: #131212;
}


div#masonry { 
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  height: 100vw;
  max-height: 800px;
  font-size: 0;  
}
div#masonry img {  
  width: 33.3%;
  transition: .8s opacity;
} 

div#masonry:hover img { opacity: 0.3; }
div#masonry:hover img:hover { opacity: 1; } 

/* fallback for earlier versions of Firefox */

@supports not (flex-wrap: wrap) {
  div#masonry { display: block; }
  div#masonry img {  
  display: inline-block;
  vertical-align: top;
  }
}

 
